<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Anatolii Kravchenko", "https://github.com/tol8901" , class: "text-white"%></small>
  </div>
</footer>